In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

In [4]:
# for example
?pd.read_csv

In [5]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等
有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
資料的 row 數以及 column 數

回傳列數與欄數

In [6]:
app_train.shape

(307511, 122)

回傳描述性統計

In [7]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

回傳前三筆觀測值

In [8]:
app_train.head(3)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

回傳後三筆觀測值

In [9]:
app_train.tail(3)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

回傳欄位名稱

In [10]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

回傳 index

In [11]:
app_train.index

RangeIndex(start=0, stop=307511, step=1)

回傳資料內容

In [12]:
app_train.info

<bound method DataFrame.info of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
13          28966.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
15          20160.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
24          12703.5  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307481      19975.5  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        NaN                       NaN
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
13                    0                        0.0                       0.0
14                    0                        NaN                       NaN
15                    0                        0.0                       0.0
16                    0                        0.0                       0.0
17                    0                        NaN                       NaN
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
20                    0                        NaN                       NaN
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
24                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
28                    0                        0.0                       0.0
29                    0                        NaN                       NaN
...                 ...                        ...                       ...
307481                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        NaN                       NaN
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307493                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
5                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
8                              0.0                        0.0
9                              NaN                        NaN
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
13                             0.0                        0.0
14                             NaN                        NaN
15                             0.0                        0.0
16                             0.0                        0.0
17                             NaN                        NaN
18                             0.0                        0.0
19                             0.0                        0.0
20                             NaN                        NaN
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
24                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0

印出 第0列第2欄：

In [13]:
print(app_train.iloc[0,2])

Cash loans

印出第一列

In [14]:
print(app_train.iloc[0,:])

SK_ID_CURR                                           100002
TARGET                                                    1
NAME_CONTRACT_TYPE                               Cash loans
CODE_GENDER                                               M
FLAG_OWN_CAR                                              N
FLAG_OWN_REALTY                                           Y
CNT_CHILDREN                                              0
AMT_INCOME_TOTAL                                     202500
AMT_CREDIT                                           406598
AMT_ANNUITY                                         24700.5
AMT_GOODS_PRICE                                      351000
NAME_TYPE_SUITE                               Unaccompanied
NAME_INCOME_TYPE                                    Working
NAME_EDUCATION_TYPE           Secondary / secondary special
NAME_FAMILY_STATUS                     Single / not married
NAME_HOUSING_TYPE                         House / apartment
REGION_POPULATION_RELATIVE                         0.018801
DAYS_BIRTH                                            -9461
DAYS_EMPLOYED                                          -637
DAYS_REGISTRATION                                     -3648
DAYS_ID_PUBLISH                                       -2120
OWN_CAR_AGE                                             NaN
FLAG_MOBIL                                                1
FLAG_EMP_PHONE                                            1
FLAG_WORK_PHONE                                           0
FLAG_CONT_MOBILE                                          1
FLAG_PHONE                                                1
FLAG_EMAIL                                                0
OCCUPATION_TYPE                                    Laborers
CNT_FAM_MEMBERS                                           1
                                          ...
DEF_30_CNT_SOCIAL_CIRCLE                                  2
OBS_60_CNT_SOCIAL_CIRCLE                                  2
DEF_60_CNT_SOCIAL_CIRCLE                                  2
DAYS_LAST_PHONE_CHANGE                                -1134
FLAG_DOCUMENT_2                                           0
FLAG_DOCUMENT_3                                           1
FLAG_DOCUMENT_4                                           0
FLAG_DOCUMENT_5                                           0
FLAG_DOCUMENT_6                                           0
FLAG_DOCUMENT_7                                           0
FLAG_DOCUMENT_8                                           0
FLAG_DOCUMENT_9                                           0
FLAG_DOCUMENT_10                                          0
FLAG_DOCUMENT_11                                          0
FLAG_DOCUMENT_12                                          0
FLAG_DOCUMENT_13                                          0
FLAG_DOCUMENT_14                                          0
FLAG_DOCUMENT_15                                          0
FLAG_DOCUMENT_16                                          0
FLAG_DOCUMENT_17                                          0
FLAG_DOCUMENT_18                                          0
FLAG_DOCUMENT_19                                          0
FLAG_DOCUMENT_20                                          0
FLAG_DOCUMENT_21                                          0
AMT_REQ_CREDIT_BUREAU_HOUR                                0
AMT_REQ_CREDIT_BUREAU_DAY                                 0
AMT_REQ_CREDIT_BUREAU_WEEK                                0
AMT_REQ_CREDIT_BUREAU_MON                                 0
AMT_REQ_CREDIT_BUREAU_QRT                                 0
AMT_REQ_CREDIT_BUREAU_YEAR                                1
Name: 0, Length: 122, dtype: object

印出第二欄

In [15]:
print(app_train.iloc[:,1])

0         1
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        1
27        0
28        0
29        0
         ..
307481    1
307482    0
307483    0
307484    0
307485    0
307486    0
307487    0
307488    0
307489    1
307490    0
307491    0
307492    0
307493    0
307494    0
307495    0
307496    0
307497    0
307498    0
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

印出NAME_CONTRACT_TYPE 所有資料

In [16]:
print(app_train['NAME_CONTRACT_TYPE'])

0              Cash loans
1              Cash loans
2         Revolving loans
3              Cash loans
4              Cash loans
5              Cash loans
6              Cash loans
7              Cash loans
8              Cash loans
9         Revolving loans
10             Cash loans
11             Cash loans
12             Cash loans
13             Cash loans
14             Cash loans
15             Cash loans
16             Cash loans
17        Revolving loans
18        Revolving loans
19             Cash loans
20        Revolving loans
21             Cash loans
22             Cash loans
23             Cash loans
24             Cash loans
25             Cash loans
26             Cash loans
27             Cash loans
28             Cash loans
29        Revolving loans
               ...
307481         Cash loans
307482         Cash loans
307483         Cash loans
307484         Cash loans
307485    Revolving loans
307486         Cash loans
307487         Cash loans
307488         Cash loans
307489         Cash loans
307490         Cash loans
307491         Cash loans
307492         Cash loans
307493         Cash loans
307494         Cash loans
307495         Cash loans
307496    Revolving loans
307497         Cash loans
307498         Cash loans
307499         Cash loans
307500         Cash loans
307501         Cash loans
307502         Cash loans
307503         Cash loans
307504         Cash loans
307505         Cash loans
307506         Cash loans
307507         Cash loans
307508         Cash loans
307509         Cash loans
307510         Cash loans
Name: NAME_CONTRACT_TYPE, Length: 307511, dtype: object

印出NAME_CONTRACT_TYPE 第100002組

In [17]:
print(app_train.loc[100002  ,'NAME_CONTRACT_TYPE'])

Cash loans

只秀Femal 資料

In [18]:
print(app_train[app_train.loc[:,"CODE_GENDER"]=='F'])

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
1           100003       0         Cash loans           F            N
3           100006       0         Cash loans           F            N
6           100009       0         Cash loans           F            Y
8           100011       0         Cash loans           F            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
14          100018       0         Cash loans           F            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
30          100035       0         Cash loans           F            N
31          100036       0         Cash loans           F            N
32          100037       0         Cash loans           F            N
34          100040       0         Cash loans           F            N
35          100041       0         Cash loans           F            N
36          100043       0         Cash loans           F            N
38          100045       0         Cash loans           F            N
41          100048       0         Cash loans           F            N
42          100049       1         Cash loans           F            N
43          100050       0         Cash loans           F            N
45          100052       0    Revolving loans           F            N
46          100053       0         Cash loans           F            N
47          100054       0         Cash loans           F            N
48          100055       0         Cash loans           F            N
...            ...     ...                ...         ...          ...
307471      456211       0         Cash loans           F            N
307472      456212       0         Cash loans           F            N
307473      456213       0         Cash loans           F            Y
307475      456215       1         Cash loans           F            N
307476      456216       0         Cash loans           F            N
307477      456217       0         Cash loans           F            N
307478      456218       0         Cash loans           F            N
307479      456219       0         Cash loans           F            N
307480      456220       0         Cash loans           F            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307493      456237       0         Cash loans           F            N
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
1                    N             0        270000.000   1293502.5
3                    Y             0        135000.000    312682.5
6                    Y             1        171000.000   1560726.0
8                    Y             0        112500.000   1019610.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
14                   Y             0        189000.000    773680.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
30                   Y             0        292500.000    665892.0
31                   Y             0        112500.000    512064.0
32                   N             0         90000.000    199008.0
34                   Y             0        135000.000   1125000.0
35                   N             0        112500.000    450000.0
36                   Y             2        198000.000    641173.5
38                   Y             0         99000.000    247275.0
41                   Y             0        202500.000    604152.0
42                   N             0        135000.000    288873.0
43                   Y             0        108000.000    746280.0
45                   Y             1         90000.000    180000.0
46                   Y             0        202500.000    305221.5
47                   Y             0         99000.000    260640.0
48                   N             0        130500.000   1350000.0
...                ...           ...               ...         ...
307471               Y             2        112500.000    592560.0
307472               Y             1        135000.000    808650.0
307473               Y             1         90000.000    258709.5
307475               N             1        144000.000   1303200.0
307476               N             2        135000.000   1762110.0
307477               Y             0        360000.000    796396.5
307478               Y             0        225000.000   1125000.0
307479               Y             1        112500.000    521280.0
307480               N             1         81000.000   1350000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307493               Y             0        135000.000    946764.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
1           35698.5  ...                 0                0                0
3           29686.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
30          24592.5  ...                 0                0                0
31          25033.5  ...                 0                0                0
32          20893.5  ...                 0                0                0
34          32895.0  ...                 0                0                0
35          44509.5  ...                 0                0                0
36          23157.0  ...                 0                0                0
38          17338.5  ...                 0                0                0
41          29196.0  ...                 0                0                0
42          16258.5  ...                 0                0                0
43          42970.5  ...                 0                0                0
45           9000.0  ...                 0                0                0
46          17649.0  ...                 0                0                0
47          26838.0  ...                 0                0                0
48          37255.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
307471      32274.0  ...                 0                0                0
307472      23773.5  ...                 0                0                0
307473      20439.0  ...                 0                0                0
307475      46809.0  ...                 0                0                0
307476      48456.0  ...                 0                0                0
307477      38443.5  ...                 0                0                0
307478      40540.5  ...                 0                0                0
307479      31630.5  ...                 0                0                0
307480      39474.0  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
1                     0                        0.0                       0.0
3                     0                        NaN                       NaN
6                     0                        0.0                       0.0
8                     0                        0.0                       0.0
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
14                    0                        NaN                       NaN
17                    0                        NaN                       NaN
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
30                    0                        0.0                       0.0
31                    0                        0.0                       0.0
32                    0                        0.0                       0.0
34                    0                        NaN                       NaN
35                    0                        0.0                       0.0
36                    0                        0.0                       0.0
38                    0                        0.0                       0.0
41                    0                        0.0                       0.0
42                    0                        0.0                       0.0
43                    0                        0.0                       0.0
45                    0                        NaN                       NaN
46                    0                        0.0                       0.0
47                    0                        0.0                       0.0
48                    0                        0.0                       0.0
...                 ...                        ...                       ...
307471                0                        0.0                       0.0
307472                0                        0.0                       0.0
307473                0                        0.0                       0.0
307475                0                        0.0                       0.0
307476                0                        0.0                       0.0
307477                0                        0.0                       0.0
307478                0                        0.0                       0.0
307479                0                        0.0                       0.0
307480                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        NaN                       NaN
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307493                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
1                              0.0                        0.0
3                              NaN                        NaN
6                              0.0                        1.0
8                              0.0                        0.0
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
14                             NaN                        NaN
17                             NaN                        NaN
18                             0.0                        0.0
19                             0.0                        0.0
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
30                             0.0                        1.0
31                             0.0                        0.0
32                             0.0                        0.0
34                             NaN                        NaN
35                             0.0                        0.0
36                             0.0                        0.0
38                             0.0                        0.0
41                             0.0                        0.0
42                             0.0                        0.0
43                             0.0                        0.0
45                             NaN                        NaN
46                             0.0                        0.0
47                             0.0                        0.0

In [19]:
print(app_train[app_train.loc[:,"CODE_GENDER"]=='F'][app_train.loc[:,"NAME_CONTRACT_TYPE"]=="Cash loans"])

C:\Users\Joseph_Morry\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
1           100003       0         Cash loans           F            N
3           100006       0         Cash loans           F            N
6           100009       0         Cash loans           F            Y
8           100011       0         Cash loans           F            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
14          100018       0         Cash loans           F            N
19          100023       0         Cash loans           F            N
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
30          100035       0         Cash loans           F            N
31          100036       0         Cash loans           F            N
32          100037       0         Cash loans           F            N
34          100040       0         Cash loans           F            N
35          100041       0         Cash loans           F            N
36          100043       0         Cash loans           F            N
38          100045       0         Cash loans           F            N
41          100048       0         Cash loans           F            N
42          100049       1         Cash loans           F            N
43          100050       0         Cash loans           F            N
46          100053       0         Cash loans           F            N
47          100054       0         Cash loans           F            N
48          100055       0         Cash loans           F            N
53          100061       0         Cash loans           F            N
55          100063       0         Cash loans           F            N
56          100064       0         Cash loans           F            N
...            ...     ...                ...         ...          ...
307469      456209       0         Cash loans           F            N
307470      456210       0         Cash loans           F            N
307471      456211       0         Cash loans           F            N
307472      456212       0         Cash loans           F            N
307473      456213       0         Cash loans           F            Y
307475      456215       1         Cash loans           F            N
307476      456216       0         Cash loans           F            N
307477      456217       0         Cash loans           F            N
307478      456218       0         Cash loans           F            N
307479      456219       0         Cash loans           F            N
307480      456220       0         Cash loans           F            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307486      456230       0         Cash loans           F            Y
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307493      456237       0         Cash loans           F            N
307497      456241       0         Cash loans           F            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
1                    N             0        270000.000   1293502.5
3                    Y             0        135000.000    312682.5
6                    Y             1        171000.000   1560726.0
8                    Y             0        112500.000   1019610.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
14                   Y             0        189000.000    773680.5
19                   Y             1         90000.000    544491.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
30                   Y             0        292500.000    665892.0
31                   Y             0        112500.000    512064.0
32                   N             0         90000.000    199008.0
34                   Y             0        135000.000   1125000.0
35                   N             0        112500.000    450000.0
36                   Y             2        198000.000    641173.5
38                   Y             0         99000.000    247275.0
41                   Y             0        202500.000    604152.0
42                   N             0        135000.000    288873.0
43                   Y             0        108000.000    746280.0
46                   Y             0        202500.000    305221.5
47                   Y             0         99000.000    260640.0
48                   N             0        130500.000   1350000.0
53                   Y             2        225000.000    314055.0
55                   Y             0        180000.000    837427.5
56                   N             0         67500.000    298728.0
...                ...           ...               ...         ...
307469               Y             0        202500.000    703728.0
307470               Y             0         90000.000    270000.0
307471               Y             2        112500.000    592560.0
307472               Y             1        135000.000    808650.0
307473               Y             1         90000.000    258709.5
307475               N             1        144000.000   1303200.0
307476               N             2        135000.000   1762110.0
307477               Y             0        360000.000    796396.5
307478               Y             0        225000.000   1125000.0
307479               Y             1        112500.000    521280.0
307480               N             1         81000.000   1350000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307486               Y             1        292500.000    355536.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307493               Y             0        135000.000    946764.0
307497               Y             0        180000.000    270126.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
1           35698.5  ...                 0                0                0
3           29686.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
30          24592.5  ...                 0                0                0
31          25033.5  ...                 0                0                0
32          20893.5  ...                 0                0                0
34          32895.0  ...                 0                0                0
35          44509.5  ...                 0                0                0
36          23157.0  ...                 0                0                0
38          17338.5  ...                 0                0                0
41          29196.0  ...                 0                0                0
42          16258.5  ...                 0                0                0
43          42970.5  ...                 0                0                0
46          17649.0  ...                 0                0                0
47          26838.0  ...                 0                0                0
48          37255.5  ...                 0                0                0
53          16164.0  ...                 0                0                0
55          45558.0  ...                 0                0                0
56          15381.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307469      29943.0  ...                 0                0                0
307470      10309.5  ...                 0                0                0
307471      32274.0  ...                 0                0                0
307472      23773.5  ...                 0                0                0
307473      20439.0  ...                 0                0                0
307475      46809.0  ...                 0                0                0
307476      48456.0  ...                 0                0                0
307477      38443.5  ...                 0                0                0
307478      40540.5  ...                 0                0                0
307479      31630.5  ...                 0                0                0
307480      39474.0  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
1                     0                        0.0                       0.0
3                     0                        NaN                       NaN
6                     0                        0.0                       0.0
8                     0                        0.0                       0.0
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
14                    0                        NaN                       NaN
19                    0                        0.0                       0.0
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
30                    0                        0.0                       0.0
31                    0                        0.0                       0.0
32                    0                        0.0                       0.0
34                    0                        NaN                       NaN
35                    0                        0.0                       0.0
36                    0                        0.0                       0.0
38                    0                        0.0                       0.0
41                    0                        0.0                       0.0
42                    0                        0.0                       0.0
43                    0                        0.0                       0.0
46                    0                        0.0                       0.0
47                    0                        0.0                       0.0
48                    0                        0.0                       0.0
53                    0                        0.0                       0.0
55                    0                        0.0                       0.0
56                    0                        0.0                       0.0
...                 ...                        ...                       ...
307469                0                        0.0                       0.0
307470                0                        0.0                       0.0
307471                0                        0.0                       0.0
307472                0                        0.0                       0.0
307473                0                        0.0                       0.0
307475                0                        0.0                       0.0
307476                0                        0.0                       0.0
307477                0                        0.0                       0.0
307478                0                        0.0                       0.0
307479                0                        0.0                       0.0
307480                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        NaN                       NaN
307486                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307493                0                        0.0                       0.0
307497                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
1                              0.0                        0.0
3                              NaN                        NaN
6                              0.0                        1.0
8                              0.0                        0.0
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
14                             NaN                        NaN
19                             0.0                        0.0
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
30                             0.0                        1.0
31                             0.0                        0.0
32                             0.0                        0.0
34                             NaN                        NaN
35                             0.0                        0.0
36                             0.0                        0.0
38                             0.0                        0.0
41                             0.0                        0.0
42                             0.0                        0.0
43                             0.0                        0.0
46                             0.0                        0.0
47                             0.0                        0.0
48                             0.0                        0.0
53                             0.0                        0.0
55                             0.0                        1.0

透過索引值做排序，axis 可以指定第幾欄，ascending 用於設定升冪或降密

In [20]:
app_train.sort_index(axis=0,ascending=False)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307510,456255,0,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307508,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307506,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307504,456248,0,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307503,456247,0,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307502,456246,0,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307501,456245,0,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307500,456244,0,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307499,456243,0,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307496,456240,0,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307495,456239,0,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307494,456238,0,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307493,456237,0,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307491,456235,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307490,456234,0,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307489,456233,1,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307488,456232,0,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307487,456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307486,456230,0,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307485,456229,0,Revolving loans,F,N,Y,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307484,456228,0,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307483,456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307482,456226,0,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307481,456225,1,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
app_train.sort_values(by ="AMT_INCOME_TOTAL")

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1678,101965,0,Cash loans,F,N,N,0,25650.0,158148.0,5809.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20727,124157,1,Cash loans,F,Y,Y,0,25650.0,2173500.0,48118.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
240137,378118,0,Cash loans,F,N,N,0,26100.0,90000.0,4329.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
186643,316377,0,Cash loans,F,N,N,0,26100.0,54000.0,5391.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246104,384810,0,Cash loans,F,N,Y,0,26100.0,173092.5,12438.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
132707,253920,0,Cash loans,F,N,Y,0,26460.0,101880.0,6763.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
262748,404212,0,Cash loans,F,N,N,2,26550.0,101880.0,10053.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
175433,303289,0,Cash loans,F,Y,Y,0,26550.0,571500.0,16281.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4735,105537,0,Cash loans,M,N,Y,0,27000.0,284400.0,9211.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
187572,317441,0,Cash loans,F,N,N,0,27000.0,360000.0,13059.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
292142,438440,0,Cash loans,F,N,Y,1,27000.0,480060.0,23476.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
124146,243970,0,Cash loans,F,N,Y,0,27000.0,71955.0,7245.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
125059,245029,0,Cash loans,F,N,N,1,27000.0,343800.0,13090.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10585,112330,0,Cash loans,F,N,N,0,27000.0,225000.0,9531.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
62585,172587,0,Cash loans,M,N,N,0,27000.0,229230.0,13158.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
173546,301115,0,Cash loans,F,Y,N,0,27000.0,760225.5,32337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
83674,197045,0,Cash loans,F,N,N,2,27000.0,269550.0,14751.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
267037,409387,0,Cash loans,F,N,N,0,27000.0,135000.0,8154.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
90900,205539,0,Cash loans,F,N,N,1,27000.0,343800.0,16024.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
277924,422021,0,Cash loans,F,Y,N,1,27000.0,152820.0,15016.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
232535,369333,0,Cash loans,F,N,Y,0,27000.0,255960.0,14422.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
163569,289613,0,Cash loans,F,N,N,0,27000.0,238896.0,13842.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,2.0
133737,255107,0,Cash loans,F,N,N,0,27000.0,159264.0,4959.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
299307,446748,0,Cash loans,F,Y,N,2,27000.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
205513,338222,0,Revolving loans,F,Y,Y,0,27000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,0.0
162772,288702,0,Cash loans,F,N,Y,0,27000.0,360000.0,20794.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
239654,377515,0,Cash loans,F,N,Y,0,27000.0,182016.0,6858.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199006,330720,0,Cash loans,F,N,Y,1,27000.0,450000.0,22018.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
36856,142688,0,Cash loans,F,N,N,0,27000.0,123637.5,8604.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
293194,439670,0,Cash loans,F,N,Y,1,27000.0,675000.0,19867.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29737,134526,0,Revolving loans,M,N,N,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
74781,186724,0,Revolving loans,F,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
71637,183074,0,Revolving loans,F,N,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
81185,194130,0,Revolving loans,F,Y,N,0,2250000.0,2250000.0,112500.0,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
55329,164105,0,Revolving loans,M,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
10222,111903,0,Revolving loans,M,N,Y,3,2250000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
278212,422344,0,Cash loans,M,Y,Y,0,2250000.0,1506816.0,49927.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
206814,339713,0,Cash loans,F,N,Y,0,2250000.0,976077.0,52132.5,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
201855,333985,0,Cash loans,F,Y,N,0,2250000.0,1542645.0,62829.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
145673,268905,0,Revolving loans,M,Y,N,0,2250000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
298082,445335,0,Cash loans,M,Y,Y,0,2475000.0,1125000.0,47794.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
258773,399467,0,Revolving loans,M,Y,Y,2,2700000.0,180000.0,9000.0,...,0,0,0,0,0.0,2.0,0.0,0.0,0.0,1.0
107926,225210,0,Cash loans,M,Y,Y,0,2930026.5,900000.0,36657.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
101007,217276,0,Revolving loans,M,Y,Y,0,3150000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
248159,387126,1,Cash loans,F,Y,Y,1,3150000.0,900000.0,48825.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
86026,199821,0,Cash loans,M,Y,Y,1,3375000.0,900000.0,46084.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
82846,196091,0,Cash loans,F,N,Y,1,3375000.0,900000.0,40801.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
284311,429258,0,Cash loans,M,Y,N,0,3600000.0,1113840.0,44302.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
49645,157471,0,Cash loans,F,Y,N,0,3600000.0,953460.0,68791.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
20216,123587,0,Cash loans,M,Y,N,0,3825000.0,1241023.5,117369.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
181698,310601,0,Cash loans,M,Y,Y,1,3950059.5,675000.0,66217.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
287463,432980,0,Cash loans,M,Y,Y,0,4500000.0,1755000.0,61132.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
187833,317748,0,Cash loans,M,N,N,0,4500000.0,835380.0,42651.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
103006,219563,0,Revolving loans,M,Y,Y,0,4500000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
204564,337151,0,Cash loans,M,N,N,0,4500000.0,450000.0,47749.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
131127,252084,0,Cash loans,M,Y,N,0,6750000.0,790830.0,52978.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
77768,190160,0,Cash loans,F,Y,N,0,9000000.0,1431531.0,132601.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
246858,385674,0,Cash loans,M,Y,Y,0,13500000.0,1400503.5,130945.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
203693,336147,0,Cash loans,M,Y,Y,2,18000090.0,675000.0,69295.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12840,114967,1,Cash loans,F,N,Y,1,117000000.0,562491.0,26194.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

判斷哪些店名是遺失值

In [22]:
print(app_train[app_train.loc[:,"OWN_CAR_AGE"].isnull()])

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
14          100018       0         Cash loans           F            N
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
29          100034       0    Revolving loans           M            N
30          100035       0         Cash loans           F            N
31          100036       0         Cash loans           F            N
32          100037       0         Cash loans           F            N
34          100040       0         Cash loans           F            N
35          100041       0         Cash loans           F            N
36          100043       0         Cash loans           F            N
37          100044       0         Cash loans           M            N
38          100045       0         Cash loans           F            N
40          100047       1         Cash loans           M            N
...            ...     ...                ...         ...          ...
307470      456210       0         Cash loans           F            N
307471      456211       0         Cash loans           F            N
307472      456212       0         Cash loans           F            N
307475      456215       1         Cash loans           F            N
307476      456216       0         Cash loans           F            N
307477      456217       0         Cash loans           F            N
307478      456218       0         Cash loans           F            N
307479      456219       0         Cash loans           F            N
307480      456220       0         Cash loans           F            N
307481      456225       1         Cash loans           M            N
307483      456227       0         Cash loans           F            N
307485      456229       0    Revolving loans           F            N
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307493      456237       0         Cash loans           F            N
307496      456240       0    Revolving loans           F            N
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
14                   Y             0        189000.000    773680.5
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
29                   Y             0         90000.000    180000.0
30                   Y             0        292500.000    665892.0
31                   Y             0        112500.000    512064.0
32                   N             0         90000.000    199008.0
34                   Y             0        135000.000   1125000.0
35                   N             0        112500.000    450000.0
36                   Y             2        198000.000    641173.5
37                   Y             0        121500.000    454500.0
38                   Y             0         99000.000    247275.0
40                   Y             0        202500.000   1193580.0
...                ...           ...               ...         ...
307470               Y             0         90000.000    270000.0
307471               Y             2        112500.000    592560.0
307472               Y             1        135000.000    808650.0
307475               N             1        144000.000   1303200.0
307476               N             2        135000.000   1762110.0
307477               Y             0        360000.000    796396.5
307478               Y             0        225000.000   1125000.0
307479               Y             1        112500.000    521280.0
307480               N             1         81000.000   1350000.0
307481               Y             0        225000.000    297000.0
307483               Y             0         99000.000    247275.0
307485               Y             1        270000.000    180000.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307493               Y             0        135000.000    946764.0
307496               N             0        360000.000    337500.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
30          24592.5  ...                 0                0                0
31          25033.5  ...                 0                0                0
32          20893.5  ...                 0                0                0
34          32895.0  ...                 0                0                0
35          44509.5  ...                 0                0                0
36          23157.0  ...                 0                0                0
37          15151.5  ...                 0                0                0
38          17338.5  ...                 0                0                0
40          35028.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307470      10309.5  ...                 0                0                0
307471      32274.0  ...                 0                0                0
307472      23773.5  ...                 0                0                0
307475      46809.0  ...                 0                0                0
307476      48456.0  ...                 0                0                0
307477      38443.5  ...                 0                0                0
307478      40540.5  ...                 0                0                0
307479      31630.5  ...                 0                0                0
307480      39474.0  ...                 0                0                0
307481      19975.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        NaN                       NaN
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
14                    0                        NaN                       NaN
16                    0                        0.0                       0.0
17                    0                        NaN                       NaN
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
29                    0                        NaN                       NaN
30                    0                        0.0                       0.0
31                    0                        0.0                       0.0
32                    0                        0.0                       0.0
34                    0                        NaN                       NaN
35                    0                        0.0                       0.0
36                    0                        0.0                       0.0
37                    0                        0.0                       0.0
38                    0                        0.0                       0.0
40                    0                        0.0                       0.0
...                 ...                        ...                       ...
307470                0                        0.0                       0.0
307471                0                        0.0                       0.0
307472                0                        0.0                       0.0
307475                0                        0.0                       0.0
307476                0                        0.0                       0.0
307477                0                        0.0                       0.0
307478                0                        0.0                       0.0
307479                0                        0.0                       0.0
307480                0                        0.0                       0.0
307481                0                        0.0                       0.0
307483                0                        0.0                       0.0
307485                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307493                0                        0.0                       0.0
307496                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
5                              0.0                        0.0
8                              0.0                        0.0
9                              NaN                        NaN
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
14                             NaN                        NaN
16                             0.0                        0.0
17                             NaN                        NaN
18                             0.0                        0.0
19                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0
29                             NaN                        NaN
30                             0.0                        1.0
31                             0.0                        0.0
32                             0.0                        0.0
34                             NaN                        NaN
35                             0.0                        0.0
36                             0.0                        0.0
37                             0.0                        1.0
38                             0.0                        0.0

判斷哪些市場規模不是遺失值

In [23]:
print(app_train[app_train.loc[:,"OWN_CAR_AGE"].notnull()])

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
2           100004       0    Revolving loans           M            Y
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
13          100017       0         Cash loans           M            Y
15          100019       0         Cash loans           M            Y
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
24          100029       0         Cash loans           M            Y
28          100033       0         Cash loans           M            Y
33          100039       0         Cash loans           M            Y
39          100046       0    Revolving loans           M            Y
49          100056       0         Cash loans           M            Y
51          100059       0         Cash loans           M            Y
52          100060       0         Cash loans           M            Y
54          100062       0         Cash loans           M            Y
58          100069       0         Cash loans           M            Y
59          100070       0         Cash loans           M            Y
62          100073       0         Cash loans           M            Y
64          100076       0         Cash loans           M            Y
66          100078       0         Cash loans           F            Y
69          100081       0         Cash loans           M            Y
71          100083       0         Cash loans           M            Y
82          100097       0         Cash loans           M            Y
83          100098       0    Revolving loans           M            Y
85          100100       0         Cash loans           M            Y
86          100101       0         Cash loans           F            Y
92          100110       0         Cash loans           M            Y
93          100111       0         Cash loans           F            Y
94          100112       1         Cash loans           M            Y
95          100113       0         Cash loans           M            Y
...            ...     ...                ...         ...          ...
307408      456141       0         Cash loans           F            Y
307414      456147       0         Cash loans           F            Y
307415      456148       0         Cash loans           M            Y
307416      456149       0         Cash loans           F            Y
307421      456154       0         Cash loans           M            Y
307425      456158       0    Revolving loans           M            Y
307427      456160       0         Cash loans           F            Y
307434      456172       0         Cash loans           F            Y
307435      456173       0         Cash loans           M            Y
307437      456175       0         Cash loans           F            Y
307442      456180       0         Cash loans           M            Y
307445      456183       0         Cash loans           F            Y
307449      456187       0         Cash loans           M            Y
307451      456190       0         Cash loans           M            Y
307452      456191       0         Cash loans           F            Y
307456      456195       0         Cash loans           F            Y
307459      456198       0         Cash loans           M            Y
307460      456199       0         Cash loans           M            Y
307462      456201       0         Cash loans           F            Y
307473      456213       0         Cash loans           F            Y
307474      456214       0         Cash loans           M            Y
307482      456226       0         Cash loans           F            Y
307484      456228       0         Cash loans           F            Y
307486      456230       0         Cash loans           F            Y
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
2                    Y             0           67500.0    135000.0
6                    Y             1          171000.0   1560726.0
7                    Y             0          360000.0   1530000.0
13                   N             1          225000.0    918468.0
15                   Y             0          157500.0    299772.0
20                   Y             0          135000.0    427500.0
21                   Y             1          202500.0   1132573.5
24                   N             2          135000.0    247500.0
28                   Y             0          270000.0    790830.0
33                   N             1          360000.0    733315.5
39                   Y             0          180000.0    540000.0
49                   Y             0          360000.0   1506816.0
51                   Y             1          540000.0    675000.0
52                   N             0           76500.0    454500.0
54                   N             0           81000.0    675000.0
58                   Y             1          360000.0    640458.0
59                   Y             0          540000.0   1227901.5
62                   Y             0          324000.0   1130760.0
64                   N             0          180000.0    315000.0
66                   Y             0          180000.0   1035000.0
69                   N             0          180000.0    450000.0
71                   Y             0          103500.0    573628.5
82                   Y             0          157500.0    760225.5
83                   N             0          225000.0    270000.0
85                   Y             2          202500.0    796396.5
86                   Y             0          202500.0    343377.0
92                   Y             3          135000.0    373140.0
93                   N             1          112500.0    862560.0
94                   Y             0          315000.0    953460.0
95                   N             0           76500.0    135000.0
...                ...           ...               ...         ...
307408               Y             1          112500.0    237024.0
307414               Y             2           90000.0   1078200.0
307415               Y             0          180000.0    589045.5
307416               Y             0           90000.0    327024.0
307421               Y             0          157500.0    144000.0
307425               Y             2          234000.0    450000.0
307427               Y             0          270000.0   1298970.0
307434               Y             0           76500.0    163098.0
307435               Y             0          189000.0    675000.0
307437               Y             0           81000.0    180000.0
307442               Y             1          135000.0     90000.0
307445               Y             0          180000.0    990000.0
307449               Y             1          315000.0   1175314.5
307451               N             1          450000.0    545040.0
307452               N             2          153000.0   1350000.0
307456               Y             0           94500.0    270000.0
307459               Y             0          225000.0    959017.5
307460               N             1          382500.0    745429.5
307462               Y             3          135000.0   1024785.0
307473               Y             1           90000.0    258709.5
307474               Y             2          135000.0    360000.0
307482               Y             0          225000.0    500566.5
307484               N             0          540000.0    545040.0
307486               Y             1          292500.0    355536.0
307491               Y             2           90000.0   1078200.0
307492               Y             0          585000.0   1575000.0
307494               N             1          270000.0    479700.0
307495               N             0          180000.0    808650.0
307497               Y             0          180000.0    270126.0
307498               Y             0          198000.0   1312110.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
2            6750.0  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
13          28966.5  ...                 0                0                0
15          20160.0  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
24          12703.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
33          39069.0  ...                 0                0                0
39          27000.0  ...                 0                0                0
49          49927.5  ...                 0                0                0
51          34596.0  ...                 0                0                0
52          14661.0  ...                 0                0                0
54          32472.0  ...                 0                0                0
58          27265.5  ...                 0                0                0
59          46899.0  ...                 0                0                0
62          40189.5  ...                 0                0                0
64           9679.5  ...                 0                0                0
66          43983.0  ...                 0                0                0
69          21109.5  ...                 0                0                0
71          24435.0  ...                 0                0                0
82          30280.5  ...                 0                0                0
83          13500.0  ...                 0                0                0
85          38443.5  ...                 0                0                0
86          22072.5  ...                 0                0                0
92          25065.0  ...                 0                0                0
93          27954.0  ...                 0                0                0
94          64107.0  ...                 0                0                0
95           6696.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307408      18855.0  ...                 0                0                0
307414      31653.0  ...                 0                0                0
307415      30204.0  ...                 0                0                0
307416      21982.5  ...                 0                0                0
307421       9751.5  ...                 0                0                0
307425      22500.0  ...                 0                0                0
307427      46786.5  ...                 0                0                0
307434      16015.5  ...                 0                0                0
307435      19737.0  ...                 0                0                0
307437      12658.5  ...                 0                0                0
307442       9580.5  ...                 0                0                0
307445      42075.0  ...                 0                0                0
307449      38974.5  ...                 0                0                0
307451      25407.0  ...                 0                0                0
307452      46926.0  ...                 0                0                0
307456      15075.0  ...                 0                0                0
307459      49095.0  ...                 0                0                0
307460      24354.0  ...                 0                0                0
307462      57222.0  ...                 0                0                0
307473      20439.0  ...                 0                0                0
307474      23004.0  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
2                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
13                    0                        0.0                       0.0
15                    0                        0.0                       0.0
20                    0                        NaN                       NaN
21                    0                        0.0                       0.0
24                    0                        0.0                       0.0
28                    0                        0.0                       0.0
33                    0                        0.0                       0.0
39                    0                        0.0                       0.0
49                    0                        NaN                       NaN
51                    0                        0.0                       0.0
52                    0                        0.0                       0.0
54                    0                        0.0                       0.0
58                    0                        0.0                       0.0
59                    0                        0.0                       0.0
62                    0                        0.0                       0.0
64                    0                        0.0                       0.0
66                    0                        0.0                       0.0
69                    0                        NaN                       NaN
71                    0                        0.0                       0.0
82                    0                        0.0                       0.0
83                    0                        NaN                       NaN
85                    0                        0.0                       0.0
86                    0                        NaN                       NaN
92                    0                        0.0                       0.0
93                    0                        0.0                       0.0
94                    0                        0.0                       0.0
95                    0                        0.0                       0.0
...                 ...                        ...                       ...
307408                0                        0.0                       0.0
307414                0                        0.0                       0.0
307415                0                        0.0                       0.0
307416                0                        0.0                       0.0
307421                0                        0.0                       0.0
307425                0                        0.0                       0.0
307427                0                        0.0                       0.0
307434                0                        0.0                       0.0
307435                0                        0.0                       0.0
307437                0                        0.0                       0.0
307442                0                        0.0                       0.0
307445                0                        0.0                       0.0
307449                0                        0.0                       0.0
307451                0                        0.0                       0.0
307452                0                        0.0                       0.0
307456                0                        0.0                       0.0
307459                0                        NaN                       NaN
307460                0                        0.0                       0.0
307462                0                        0.0                       0.0
307473                0                        0.0                       0.0
307474                0                        NaN                       NaN
307482                0                        0.0                       0.0
307484                0                        NaN                       NaN
307486                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
2                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
13                             0.0                        0.0
15                             0.0                        0.0
20                             NaN                        NaN
21                             0.0                        0.0
24                             0.0                        0.0
28                             0.0                        1.0
33                             0.0                        0.0
39                             0.0                        1.0
49                             NaN                        NaN
51                             1.0                        0.0
52                             0.0                        1.0
54                             0.0                        0.0
58                             0.0                        0.0
59                             0.0                        0.0
62                             0.0                        0.0
64                             0.0                        0.0
66                             0.0                        0.0
69                             NaN                        NaN
71                             0.0                        0.0
82                             1.0                        0.0
83                             NaN                        NaN
85                             0.0                        0.0
86                             NaN                        NaN
92                             0.0                        0.0
93                             0.0                        0.0
94                             0.0                        0.0

有遺失值的觀測值都刪除

In [24]:
drop_value = app_train.dropna()
print(drop_value)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
71          100083       0         Cash loans           M            Y
124         100145       0         Cash loans           F            Y
152         100179       0         Cash loans           F            Y
161         100190       0         Cash loans           M            Y
255         100295       1         Cash loans           M            Y
296         100341       0         Cash loans           M            Y
298         100343       0         Cash loans           M            Y
316         100363       0         Cash loans           F            Y
323         100371       0         Cash loans           F            Y
328         100376       0         Cash loans           M            Y
337         100389       0         Cash loans           M            Y
343         100395       0         Cash loans           M            Y
369         100425       0         Cash loans           F            Y
415         100479       0    Revolving loans           M            Y
441         100508       0         Cash loans           F            Y
483         100557       0         Cash loans           F            Y
492         100567       1    Revolving loans           M            Y
591         100678       0         Cash loans           F            Y
696         100805       0         Cash loans           M            Y
701         100810       0    Revolving loans           M            Y
739         100852       0         Cash loans           M            Y
765         100879       1         Cash loans           F            Y
803         100920       0         Cash loans           M            Y
862         100988       0         Cash loans           M            Y
901         101038       0         Cash loans           M            Y
917         101059       0         Cash loans           M            Y
1001        101158       0    Revolving loans           M            Y
1008        101166       0    Revolving loans           F            Y
1047        101216       0         Cash loans           F            Y
1049        101218       0         Cash loans           M            Y
...            ...     ...                ...         ...          ...
306681      455319       0         Cash loans           F            Y
306683      455321       0         Cash loans           F            Y
306699      455341       0         Cash loans           M            Y
306723      455365       0         Cash loans           M            Y
306757      455405       0         Cash loans           F            Y
306759      455407       0         Cash loans           F            Y
306771      455419       0    Revolving loans           M            Y
306803      455460       0         Cash loans           F            Y
306814      455471       0         Cash loans           F            Y
306882      455551       0         Cash loans           M            Y
306894      455563       0         Cash loans           M            Y
306908      455578       0         Cash loans           M            Y
306911      455581       0         Cash loans           M            Y
306956      455628       0         Cash loans           M            Y
306957      455629       1         Cash loans           F            Y
306967      455642       0         Cash loans           F            Y
306969      455646       0         Cash loans           F            Y
307007      455687       0         Cash loans           M            Y
307039      455723       0         Cash loans           F            Y
307040      455724       0         Cash loans           M            Y
307149      455847       0         Cash loans           F            Y
307172      455875       0         Cash loans           M            Y
307174      455877       0         Cash loans           F            Y
307206      455914       0         Cash loans           F            Y
307215      455923       0         Cash loans           M            Y
307358      456083       0         Cash loans           F            Y
307359      456084       0         Cash loans           F            Y
307407      456140       1         Cash loans           F            Y
307456      456195       0         Cash loans           F            Y
307482      456226       0         Cash loans           F            Y

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
71                   Y             0          103500.0    573628.5
124                  Y             1          202500.0    260725.5
152                  N             0          202500.0    675000.0
161                  N             0          162000.0    263686.5
255                  N             1          225000.0   1019205.0
296                  Y             0           76500.0    545040.0
298                  Y             0          315000.0     90000.0
316                  Y             1          360000.0    493497.0
323                  Y             1          450000.0    808650.0
328                  Y             0          360000.0    254700.0
337                  Y             0          247500.0   1971072.0
343                  Y             0          225000.0    888840.0
369                  Y             2           90000.0    688500.0
415                  Y             0           90000.0    180000.0
441                  Y             0          450000.0   1971072.0
483                  Y             0          225000.0   1320975.0
492                  Y             0           99000.0    180000.0
591                  Y             2          184500.0   1078200.0
696                  N             0          270000.0   1098000.0
701                  Y             2          540000.0    900000.0
739                  Y             0          157500.0   1190340.0
765                  Y             0          450000.0   1323000.0
803                  Y             3          112500.0    832500.0
862                  Y             0          180000.0   1350000.0
901                  Y             0          180000.0    675000.0
917                  Y             0          225000.0    454500.0
1001                 Y             0          180000.0    180000.0
1008                 N             0          157500.0    180000.0
1047                 Y             0          135000.0    518562.0
1049                 Y             0          522000.0    746280.0
...                ...           ...               ...         ...
306681               Y             0          225000.0    704844.0
306683               Y             0          135000.0   1026000.0
306699               N             0          225000.0    675000.0
306723               Y             0          180000.0    301896.0
306757               N             0          225000.0   1597500.0
306759               N             0          108000.0    568908.0
306771               Y             0          450000.0   1125000.0
306803               Y             0          135000.0   1386265.5
306814               Y             0          135000.0    993082.5
306882               Y             0          517500.0   2250000.0
306894               Y             0          360000.0   1350000.0
306908               Y             0          180000.0    284400.0
306911               Y             0          247500.0    594261.0
306956               Y             1          261000.0    714154.5
306957               Y             2          135000.0    219249.0
306967               Y             0          225000.0    550980.0
306969               N             1          247500.0   1200744.0
307007               Y             0          112500.0    808650.0
307039               Y             0          157500.0    454500.0
307040               Y             1          202500.0   1350000.0
307149               Y             0          270000.0    640080.0
307172               Y             0          180000.0    735579.0
307174               N             0          135000.0    900000.0
307206               Y             0          315000.0   1066500.0
307215               N             0          157500.0    225000.0
307358               Y             2          112500.0    361462.5
307359               Y             1           99000.0    675000.0
307407               Y             1          261000.0    711454.5
307456               Y             0           94500.0    270000.0
307482               Y             0          225000.0    500566.5

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
71          24435.0  ...                 0                0                0
124         16789.5  ...                 0                0                0
152         53329.5  ...                 0                0                0
161         24781.5  ...                 0                0                0
255         31032.0  ...                 1                0                0
296         20677.5  ...                 0                0                0
298          4504.5  ...                 0                0                0
316         48942.0  ...                 0                0                0
323         31464.0  ...                 0                0                0
328         20250.0  ...                 0                0                0
337         68643.0  ...                 0                0                0
343         32053.5  ...                 0                0                0
369         20259.0  ...                 0                0                0
415          9000.0  ...                 0                0                0
441         62019.0  ...                 0                0                0
483         43785.0  ...                 0                0                0
492          9000.0  ...                 0                0                0
591         31522.5  ...                 0                0                0
696         28962.0  ...                 0                0                0
701         45000.0  ...                 0                0                0
739         63549.0  ...                 0                0                0
765         47650.5  ...                 0                0                0
803         24471.0  ...                 0                0                0
862         38821.5  ...                 0                0                0
901         34596.0  ...                 0                0                0
917         46570.5  ...                 0                0                0
1001         9000.0  ...                 0                0                0
1008         9000.0  ...                 0                0                0
1047        22099.5  ...                 0                0                0
1049        59094.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
306681      36117.0  ...                 0                0                0
306683      30127.5  ...                 0                0                0
306699      28597.5  ...                 0                0                0
306723      27819.0  ...                 0                0                0
306757      45783.0  ...                 0                0                0
306759      22558.5  ...                 0                0                0
306771      56250.0  ...                 0                0                0
306803      36697.5  ...                 0                0                0
306814      47776.5  ...                 0                0                0
306882      59485.5  ...                 0                0                0
306894      53671.5  ...                 0                0                0
306908      19134.0  ...                 0                0                0
306911      51133.5  ...                 0                0                0
306956      38871.0  ...                 0                0                0
306957      16083.0  ...                 0                0                0
306967      40221.0  ...                 0                0                0
306969      38736.0  ...                 0                0                0
307007      26217.0  ...                 0                0                0
307039      43150.5  ...                 0                0                0
307040      39474.0  ...                 0                0                0
307149      31261.5  ...                 0                0                0
307172      40032.0  ...                 0                0                0
307174      31887.0  ...                 0                0                0
307206      31180.5  ...                 0                0                0
307215      15034.5  ...                 0                0                0
307358      16051.5  ...                 0                0                0
307359      21906.0  ...                 0                0                0
307407      47673.0  ...                 0                0                0
307456      15075.0  ...                 0                0                0
307482      34969.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
71                    0                        0.0                       0.0
124                   0                        0.0                       0.0
152                   0                        0.0                       0.0
161                   0                        0.0                       0.0
255                   0                        0.0                       0.0
296                   0                        0.0                       0.0
298                   0                        0.0                       0.0
316                   0                        1.0                       0.0
323                   0                        0.0                       0.0
328                   0                        0.0                       0.0
337                   0                        0.0                       0.0
343                   0                        0.0                       0.0
369                   0                        0.0                       0.0
415                   0                        0.0                       0.0
441                   0                        0.0                       0.0
483                   0                        0.0                       0.0
492                   0                        0.0                       0.0
591                   0                        0.0                       0.0
696                   0                        0.0                       0.0
701                   0                        0.0                       0.0
739                   0                        0.0                       0.0
765                   0                        0.0                       0.0
803                   0                        0.0                       0.0
862                   0                        0.0                       0.0
901                   0                        0.0                       0.0
917                   0                        0.0                       0.0
1001                  0                        0.0                       0.0
1008                  0                        0.0                       0.0
1047                  0                        0.0                       0.0
1049                  0                        0.0                       0.0
...                 ...                        ...                       ...
306681                0                        0.0                       0.0
306683                0                        0.0                       0.0
306699                0                        0.0                       0.0
306723                0                        0.0                       0.0
306757                0                        0.0                       0.0
306759                0                        0.0                       0.0
306771                0                        0.0                       0.0
306803                0                        0.0                       0.0
306814                0                        0.0                       0.0
306882                0                        0.0                       0.0
306894                0                        0.0                       0.0
306908                0                        0.0                       0.0
306911                0                        0.0                       0.0
306956                0                        0.0                       0.0
306957                0                        0.0                       0.0
306967                0                        0.0                       0.0
306969                0                        0.0                       0.0
307007                0                        0.0                       0.0
307039                0                        0.0                       0.0
307040                0                        0.0                       0.0
307149                0                        0.0                       0.0
307172                0                        0.0                       0.0
307174                0                        0.0                       0.0
307206                0                        0.0                       0.0
307215                0                        0.0                       0.0
307358                0                        0.0                       0.0
307359                0                        0.0                       0.0
307407                0                        0.0                       0.0
307456                0                        0.0                       0.0
307482                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
71                             0.0                        0.0
124                            0.0                        0.0
152                            0.0                        1.0
161                            0.0                        0.0
255                            0.0                        6.0
296                            0.0                        0.0
298                            0.0                        0.0
316                            0.0                        0.0
323                            0.0                        0.0
328                            0.0                        0.0
337                            0.0                        0.0
343                            0.0                        0.0
369                            0.0                        0.0
415                            0.0                        0.0
441                            0.0                        0.0
483                            0.0                        0.0
492                            0.0                        0.0
591                            0.0                        0.0
696                            0.0                        1.0
701                            0.0                        0.0
739                            0.0                        1.0
765                            0.0                        1.0
803                            0.0                        0.0
862                            0.0                        1.0
901                            0.0                        0.0
917                            0.0                        4.0
1001                           0.0                        0.0
1008                           0.0                        0.0
1047                           0.0                        0.0

有遺失值的觀測值填補 0

In [25]:
filled_value = app_train.fillna(0)
print(filled_value)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
13          28966.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
15          20160.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
24          12703.5  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307481      19975.5  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        0.0                       0.0
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        0.0                       0.0
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
13                    0                        0.0                       0.0
14                    0                        0.0                       0.0
15                    0                        0.0                       0.0
16                    0                        0.0                       0.0
17                    0                        0.0                       0.0
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
20                    0                        0.0                       0.0
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
24                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
28                    0                        0.0                       0.0
29                    0                        0.0                       0.0
...                 ...                        ...                       ...
307481                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        0.0                       0.0
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307493                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        0.0                       0.0
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        0.0                       0.0
307505                0                        0.0                       0.0
307506                0                        0.0                       0.0
307507                0                        0.0                       0.0
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              0.0                        0.0
4                              0.0                        0.0
5                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
8                              0.0                        0.0
9                              0.0                        0.0
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
13                             0.0                        0.0
14                             0.0                        0.0
15                             0.0                        0.0
16                             0.0                        0.0
17                             0.0                        0.0
18                             0.0                        0.0
19                             0.0                        0.0
20                             0.0                        0.0
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
24                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0
28                             0.0                        1.0

截取部分資料

In [29]:
print(app_train.iloc[:,[1,2,4,5,6]])

        TARGET NAME_CONTRACT_TYPE FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN
0            1         Cash loans            N               Y             0
1            0         Cash loans            N               N             0
2            0    Revolving loans            Y               Y             0
3            0         Cash loans            N               Y             0
4            0         Cash loans            N               Y             0
5            0         Cash loans            N               Y             0
6            0         Cash loans            Y               Y             1
7            0         Cash loans            Y               Y             0
8            0         Cash loans            N               Y             0
9            0    Revolving loans            N               Y             0
10           0         Cash loans            N               Y             1
11           0         Cash loans            N               Y             0
12           0         Cash loans            N               Y             0
13           0         Cash loans            Y               N             1
14           0         Cash loans            N               Y             0
15           0         Cash loans            Y               Y             0
16           0         Cash loans            N               N             0
17           0    Revolving loans            N               Y             1
18           0    Revolving loans            N               Y             0
19           0         Cash loans            N               Y             1
20           0    Revolving loans            Y               Y             0
21           0         Cash loans            Y               Y             1
22           0         Cash loans            N               N             1
23           0         Cash loans            N               Y             0
24           0         Cash loans            Y               N             2
25           0         Cash loans            N               Y             0
26           1         Cash loans            N               Y             0
27           0         Cash loans            N               Y             1
28           0         Cash loans            Y               Y             0
29           0    Revolving loans            N               Y             0
...        ...                ...          ...             ...           ...
307481       1         Cash loans            N               Y             0
307482       0         Cash loans            Y               Y             0
307483       0         Cash loans            N               Y             0
307484       0         Cash loans            Y               N             0
307485       0    Revolving loans            N               Y             1
307486       0         Cash loans            Y               Y             1
307487       0         Cash loans            N               Y             0
307488       0         Cash loans            N               N             0
307489       1         Cash loans            N               Y             0
307490       0         Cash loans            N               Y             0
307491       0         Cash loans            Y               Y             2
307492       0         Cash loans            Y               Y             0
307493       0         Cash loans            N               Y             0
307494       0         Cash loans            Y               N             1
307495       0         Cash loans            Y               N             0
307496       0    Revolving loans            N               N             0
307497       0         Cash loans            Y               Y             0
307498       0         Cash loans            Y               Y             0
307499       0         Cash loans            N               Y             0
307500       0         Cash loans            N               Y             0
307501       0         Cash loans            N               Y             3
307502       0         Cash loans            N               Y             1
307503       0         Cash loans            N               Y             0
307504       0         Cash loans            N               Y             0
307505       0         Cash loans            N               Y             0
307506       0         Cash loans            N               N             0
307507       0         Cash loans            N               Y             0
307508       0         Cash loans            N               Y             0
307509       1         Cash loans            N               Y             0
307510       0         Cash loans            N               N             0

[307511 rows x 5 columns]